    body {
        background-image: url('../images/fondologin.png');
    }
    
    .labels {
        color: wheat;
        font-weight: bold;
        font-size: 17px;
    }
    
    h4 {
        color: wheat;
    }
    
    input {
        color: wheat;
    }