    body {
        background-image: url('../images/cuenta.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
    
    .labels {
        color: white;
        font-size: 17px;
    }
    
    h4 {
        color: yellow;
    }
    
    span {
        color: yellow;
    }
    
    input {
        color: white;
    }