
body {
	background-image: url('../../images/fondo.png');
	background-repeat: no-repeat ;
	background-size: 100%;
	width: 100%;
}

.text-justify {
	text-align: justify;
  }

.amarillo {
	color: yellow!important;
}

#logo {

	border: solid 2px;
	border-color: yellow;
	margin-top: 15px;
}

.menu {
	color: white;	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
	margin-top: 10%!important;
}

.menu:hover {
	color: yellow;
}

.selected {
	border: solid 2px;
	border-color: yellow;
}

.top {
	margin-top: 1.5% !important;
	height: 10%!important;
}

#up {
	height: 70px;
	width: 70px;
	position: fixed;
  	right: 0;
  	bottom: 0;
	position: fixed;
}

#titulo1 {
	margin-top: 8%;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 5em;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black;
	border-bottom: solid 3px;
	border-color: yellow;	
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#titulo2 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}

#boton1 {
	color: yellow;	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
	border: solid 2px;
	border-color: white;
	font-weight: bold;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}


#boton2 {
	color: black;	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
	border: solid 2px;
	border-color: white;
	background-color: white;
	font-weight: bold;
}

#scroll {
	height: 100px;
	width: 100px;
	margin-top: 15%;
	margin-left: 47%;
	margin-bottom: 3%;
}

#instalaciones {
	margin-top: 0.5%;
}

#instalacionesh1 {
	font-weight: bold;
	margin-top: 7%;
}

#instalacionesh2 {
	color: yellow;
	font-size: 2em;
	margin-top: 5%;	
}

#instalacionesp {
	margin-bottom: 5%;
	line-height: 200%;
	font-size: 1.2em;
}

#instalacionesimg {
	height: 500px;
	width: 850px;
	margin-top: 5%;	
	margin-bottom: 7%;
}

#instalacionesa {
	color: black;	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
	background-color: yellow;
	text-shadow: 0px 0px 1px black;
	font-size: 1em;
}

.tienda {
	background-color: #717b80;
}

#tiendap {
	color: white;
	line-height: 200%;
	font-size: 1.2em;
}

#tiendah2 {
	color: yellow;
	font-size: 2em;
	margin-top: 5%;	
}

#tiendaimg {
	height: 500px;
	width: 850px;
	margin-top: 5%;	
	margin-bottom: 7%;
}

#tiendah1 {
	font-weight: bold;
	margin-top: 7%;
}

#tiendaa {
	color: black;	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
	background-color: yellow;
	text-shadow: 0px 0px 1px black;
	font-size: 1.1em;
}

.precios {
	background-color: rgb(240, 237, 237);

}

.preciosname {
	background-color: #9c9c9c;
	margin-top: 5%;
}

.preciosprice {
	background-color: #d9d9d9;
}

.precioscontenido {
	text-align: center;
	background-color: white;
	padding-top: 10%;
	padding-bottom: 7%;

}

#preciosh1 {
	text-align: center;
	font-size: 1.8em;
	font-weight:normal;
	padding-top: 7%;
	padding-bottom: 7%;
}

#preciosh2 {
	text-align: center;
	font-size: 1.8em;
	font-weight:normal;
	padding-top: 7%;
	padding-bottom: 7%;
	color: #616161;
}

#preciossmall {
	text-align: center;
	font-size: 0.6em;
	font-weight:normal;
	padding-top: 7%;
	padding-bottom: 7%;
	color: #616161;
}

#preciosbutton {
	background-color: white;
	text-align: center;
	margin-bottom: 10%;
	padding-bottom: 10%;
}

#precioslink {
	text-decoration: none;
	color: black;
	border: solid 2px;
	border-radius: 20px;
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
}

#precios1 {
	margin-left: 13%;
}

.preciosname2 {
	background-color: yellow;
	margin-top: 5%;
}

#precioslink2 {
	text-decoration: none;
	color: black;
	border: solid 2px;
	border-color: yellow;
	border-radius: 20px;
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
	background-color: yellow;
}

.site-footer
{
  background-color:#0f0f0f;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#6d5c5c;
}
.site-footer a:hover
{
  color:#2953a8;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#f5ecec
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#b91313;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#f0f0f1
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#7e3b98
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#00b600
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* @media */

@media only screen and (max-width: 1742px) {

	#scroll {
		height: 100px;
		width: 100px;
		margin-top: 10%;
		margin-left: 47%;
		margin-bottom: 3%;
	}

	#tiendaimg {
	height: 500px;
	width: 850px;
}
}

@media only screen and (max-width: 1530px) {
#boton2 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}

}

@media only screen and (max-width: 1497px) {

	#scroll {
		height: 100px;
		width: 100px;
		margin-top: 7%;
		margin-left: 47%;
		margin-bottom: 3%;
	}

	#boton2 {
	color: black;	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
	border: solid 2px;
	border-color: white;
	background-color: white;
	font-weight: bold;
	margin-left: 10%;
}
}

@media only screen and (max-width: 1442px) {
.tienda {
	background-color: #717b80;
	padding-bottom: 5%;
}

}

@media only screen and (max-width: 1356px) {

	#scroll {
		height: 100px;
		width: 100px;
		margin-top: 5%;
		margin-left: 47%;
		margin-bottom: 3%;
	}
}

@media only screen and (max-width: 1272px) {

	#scroll {
		height: 100px;
		width: 100px;
		margin-top: 3%;
		margin-left: 47%;
		margin-bottom: 3%;
	}
}

@media only screen and (max-width: 1258px) {
#instalaciones {
	margin-bottom: 7%;
}

}

@media only screen and (max-width: 1228px) {
body {
	background-image: none;
}

header {
	background-color: black;
}

}


@media only screen and (max-width: 875px) {

#instalacionesimg {
	height: 400px;
	width: 650px;
	margin-top: 5%;	
	margin-bottom: 7%;
}
}


@media only screen and (max-width: 767px) {

#precios1 {
	margin-left: 0%;
}
}


@media only screen and (max-width: 576px) {

header {
	background-image: none;
	background-color: black!important;
	background-repeat: no-repeat ;
	background-size: 100%;
	width: 100%;
}

}



